
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Entity</title>
</head>
<body>
<h1>Add Entity</h1>
<form action="#" th:action="@{/save}" th:object="${newUser}" method="post">
  <p>
    <label for="name">First name:</label>
    <input type="text" th:field="*{firstName}" id="name" required="required"/>
  </p>
  <p>
    <label for="last">Last name:</label>
    <input type="text" th:field="*{lastName}" id="last" required="required"/>
  </p>
  <p>
    <label for="email">E-mail:</label>
    <input type="email" th:field="*{email}" id="email" required="required"/>
  </p>
  <p>
    <label for="age">Age:</label>
    <input type="text" th:field="*{age}" id="age" required="required"/>
  </p>
  <p>
    <button type="submit">Save</button>
  </p>
</form>
</body>
</html>
